<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
<header>
    <img src="/images/logo-mercado-liebre.svg" alt="">


    <form class="searchform" action="/" method="GET" id="searchform">
        <input type="text" placeholder="Buscar Productos, marcas" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form><br>
    
    <div class="En-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div><br> 
    
</header>

   
    <nav>   
        <div>Ofertas</div>
        <div>Tiendas Oficiales</div>
        <div>Vender</div> 
        <div>Ayuda</div><br>

        <p>
        <div>Creá tu cuenta <i class="fas fa-address-card"></i></div>
        <div>Ingresá <i class="fas fa-sign-in-alt"></i></div>
        <div>Mis compras</li> <i class="fas fa-shopping-basket"></i></div>
    </p>


<div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div><br>
 </nav>   


<main class="contenedor01">

 <img class="contenedor01" src="/images/img-home-banner.jpg" alt="">  

<h3>Basado en tu última visita</h3>

<article class="contenedor02">
<img class="imsize" src="/images/img-cafetera-moulinex.jpg" alt="">  
<article class="contenedor03">
    <div id="precio">$6.770</div>
    <div id="descuentos">40% OFF</div>
    <div class="oculto" id="Descripciones">Cafetera Moulinex</div></article>
</ul>
</article>
<article class="contenedor02">
<img class="imsize"src="/images/img-macbook-pro-2019.jpg" alt="">
<article class="contenedor03">
    <div id="precio">$230.000</div>
    <div id="descuentos">20% OFF</div>
    <div class="oculto" id="Descripciones">MacBook Pro 2019</div>
</article>
</article>
<article class="contenedor02">
<img class="imsize" src="/images/img-samsung-galaxy-s10.jpg" alt="">
<article class="contenedor03">
    <div id="precio">$70.500</div>
    <div id="descuentos">10% OFF</div>
    <div class="oculto" id="Descripciones">Samsung Galaxy S10</div>
</article>
</article>
<article class="contenedor02">
<img class="imsize" src="/images/img-tv-samsung-smart.jpg" alt="">
<article class="contenedor03">
    <div id="precio">$23.200</div>
    <div id="descuentos">5% OFF</div>
    <div class="oculto" id="Descripciones">SmartTv Samsung 43"</div>
</article>
</article>

<h3>Ofertas</h3>

<article class="contenedor02">
<img class="imsize" src="/images/img-cafetera-moulinex.jpg" alt="">
<article class="contenedor03">
    <div id="precio">$6.770</div>
    <div id="descuentos">40% OFF</div>
    <div class="oculto" id="Descripciones">Cafetera Moulinex</div>
</article>
</article>
<article class="contenedor02">
<img class="imsize" src="/images/img-macbook-pro-2019.jpg" alt="">
<article class="contenedor03">
    <div id="precio">$230.000</div>
    <div id="descuentos">20% OFF</div>
    <div class="oculto"id="Descripciones">MacBook Pro 2019</div>
</article>
</article>
<article class="contenedor02">
<img class="imsize" src="/images/img-samsung-galaxy-s10.jpg" alt="">
<article class="contenedor03">
    <div id="precio">$70.500</div>
    <div id="descuentos">10% OFF</div>
    <div class="oculto" id="Descripciones">Samsung Galaxy S10</div>
</article>
</article>
<article class="contenedor02">
<img class="imsize" src="/images/img-tv-samsung-smart.jpg" alt="">
<article class="contenedor03>
<div id="precio">$23.000</div>
<div id="descuentos">5% OFF</div>
<div class="oculto" id="Descripciones">SmartTv Samsung 43"</div><br>
</article>
</article>
</article>
</main>

<footer class="footer">

    <div class="iconos-footer"><i class="fas fa-credit-card"></i></div>
<div class="titulofooter"><h4>Pagá con tarjeta o en efectivo</h4></div>
<div class="texto-footer">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div><br>

<div class="iconos-footer"><i class="fas fa-gift"></i></div>
<div class="titulofooter"><h4>Envío gratis desde los $ 2.500</h4></div>
<div class="texto-footer"> Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos</div><br>

<div class="iconos-footer"><i class="fas fa-user-shield"></i></div>
<div class="titulofooter"><h4>Seguridad de principio a fin</h4> </div>
<div class="texto-footer">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</div><br>
<div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
</footer>

</body>
</html>